
---

# Complete the Tasks Below
---

**TASK: Import pandas**

In [ ]:
# CODE HERE

In [ ]:
import pandas as pd

**TASK:  Read in the african_econ_crises.csv file that is located under the 01-Crash-Course-Pandas folder. Pay close attention to where the .csv file is located! Please don't post to the QA forums if you can't figure this one out, instead, run our solutions notebook directly to see how its done.**

In [ ]:
# CODE HERE

In [ ]:
df = pd.read_csv('african_econ_crises.csv')

**TASK: Display the first 5 rows of the data set**

In [ ]:
# CODE HERE

In [ ]:
df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

**TASK: How many countries are represented in this data set?**

In [ ]:
# CODE HERE

In [ ]:
df['country'].nunique()

13

**TASK: What are the countries represented in this data set?**

In [ ]:
# CODE HERE

In [ ]:
df['country'].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

**TASK: What country had this highest annual CPI Inflation rate? What was the inflation rate?**

In [ ]:
# CODE HERE

In [ ]:
df.sort_values('inflation_annual_cpi',ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,0.002,1,1,0.0,21989695.22,1,1,1,crisis

**TASK: In what year did Kenya have its first System Crisis?**

In [ ]:
# CODE HERE

In [ ]:
df[(df['country']=='Kenya') & (df['systemic_crisis']==1)].sort_values('year')

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis
476,35,KEN,Kenya,1986,1,16.0422,0,0,0.0,10.284,1,0,0,crisis
477,35,KEN,Kenya,1987,1,16.5149,0,0,0.0,13.007,1,0,0,crisis
478,35,KEN,Kenya,1988,1,18.5994,0,0,0.0,4.804,1,0,0,crisis
479,35,KEN,Kenya,1989,1,21.6010,0,0,0.0,7.617,1,1,0,no_crisis
482,35,KEN,Kenya,1992,1,36.2163,0,0,0.0,27.332,1,1,1,crisis
483,35,KEN,Kenya,1993,1,68.1631,0,0,0.0,45.979,1,1,1,crisis
484,35,KEN,Kenya,1994,1,44.8389,0,1,0.0,28.814,1,0,1,crisis
485,35,KEN,Kenya,1995,1,55.9389,0,1,0.0,1.554,1,0,0,crisis
486,35,KEN,Kenya,1996,1,55.0211,0,1,0.0,8.862,1,0,0,no_crisis
487,35,KEN,Kenya,1997,1,62.6778,0,1,0.0,11.924,1,0,0,no_crisis
488,35,KEN,Kenya,1998,1,61.9056,0,1,0.0,6.716,1,0,0,no_crisis
489,35,KEN,Kenya,1999,1,72.9306,0,0,0.0,5.753,1,1,0,no_crisis

**TASK: How many yearly systemic crisises have occurred per country?**

In [ ]:
# CODE HERE

In [ ]:
# Grab only the systemic crisis years
crisis = df[df['systemic_crisis']==1]
# Group by country
crisis.groupby('country').count()['systemic_crisis']

country
Algeria                      4
Central African Republic    19
Egypt                        6
Ivory Coast                  4
Kenya                       13
Morocco                      2
Nigeria                     10
Tunisia                      5
Zambia                       4
Zimbabwe                    15
Name: systemic_crisis, dtype: int64

**TASK: How many years did  Zimbabwe have a sovereign external debt default occur?**

In [ ]:
# CODE HERE

In [ ]:
len(df[(df['country']=='Zimbabwe') & (df['sovereign_external_debt_default']==1)])

30

**TASK: In what year did Algeria have its highest exchange rate?**

In [ ]:
# CODE HERE

In [ ]:
df[df['country']=="Algeria"].sort_values('exch_usd',ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis